:root {
  --primary-color: #A1CCD1;
  --secondary-color: #E9B384;
  --success-color: #F4F2DE;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #F4F2DE;
  --dark-color: #7C9D96;
  --bk-color:#000000;
  --wt-color:#ffffff;
}